# -----------------------------------------------------
# Install Python packages via pip
# -----------------------------------------------------
- name: "Install Python packages"
  pip:
    name: "{{ pip_packages.split(',') }}"
    state: present
    executable: pip3

# -----------------------------------------------------
# Verify Python packages installation
# -----------------------------------------------------
- name: "Check installed Python packages"
  shell: "pip3 show {{ item }}"
  loop: "{{ pip_packages.split(',') }}"
  register: pip_check
  changed_when: false
  ignore_errors: yes

- name: "Assert Python packages installed"
  assert:
    that:
      - pip_check.results | selectattr('rc','equalto',0) | list | length == (pip_packages.split(',') | length)
    success_msg: "Good!.. | Python packages installed successfully"
    fail_msg: "ERROR!.. | Some Python packages are missing"
